<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID"
         version="4.0">

    <!-- This web.xml file is formally known as the deployment descriptor -->

    <!-- Java web applications use a deployment descriptor file to determine how URLs map to servlets, which URLs
         require authentication, and other information -->

    <!-- A web application's deployment descriptor describes the classes, resources and configuration of the
         application and how the web server uses them to serve web requests. When the web server receives a request
         for the application, it uses the deployment descriptor to map the URL of the request to the code that ought
         to handle the request. -->

    <display-name>Portfolio Site</display-name>

<!--    <welcome-file-list>-->
<!--        <welcome-file>index.jsp</welcome-file>-->
<!--        <welcome-file>index.html</welcome-file>-->
<!--    </welcome-file-list>-->

    <!-- SpringMVC Configs -->
    <!-- Step 1: Configure Spring MVC Dispatcher Servlet -->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/spring-config.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>dev</param-value>
    </context-param>
</web-app>